.listado-servicios{
    @include tablet{
        @include grid(2,$separacion/2)
    }
    .servicio{
background-color: aliceblue;
border-radius: 1rem;
&.seleccionado{
    background-color:darkgreen;
    p{
        color: $blanco;

    }

}

.nombre-servicio{
    color: black;
    text-align:center;
.p{
margin:  0 0 $separacion/4 0;
}
}
.precio-servicio{
    color: $azul;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    text-align:center;


}
}
    

}